:root{
    --yello:#fda214;
    --light-grey: #bcced9;
    --dark-grey: #304859;
    --darker-grey:#152938;

    --dark-white: rgb(242, 242, 242);
    --color-2: rgb(113, 145, 165);
    --blue-grey: #6395b8;
    --white:rgb(252, 252, 252);
    --game-number-4X4: 56px;
    --game-number-6X6: 44px;
    --close:none;

}


.yellow{
    background-color: var(--yello);
}

h1, .h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}
h2, .h2{
    font-size: 2rem;
    font-weight: 700;
}
h3, .h3{
    font-size: 1.625rem;
    font-weight: 700;
}

body{
    font-size: 1.125rem;
    font-weight: bold;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: var(--white);

    width: 100vw;
    height: 100vh;
    

}
.regular{
    font-size: 20px;
    color: var(--blue-grey);
}

/*Start*/
body{
    background-color: var(--dark-grey);
    

}

.startEl{
    height:66vh;
    width: 64vh;
    /* background-color: aqua; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.star{
    display: flex;
    justify-content: center;
}
    

.start{
    padding: 3%;
    width: 100%;
    height: 81%;
    box-sizing: border-box;

    background-color: var(--dark-white);
    border-radius: 4%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;


}
    .theme, .players, .gridSize{
        width: 100%;
        height: 17%;
        position: relative;

    }
    .theme{
        
    }

      .numbers, .icons{ 
        position: absolute;
        bottom: 0%;

        height: 47%;
        width: 47%;

        bottom: 0%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50px;
        }

        .numbers{
            background-color: var(--dark-grey);
            left: 0%;

        }
        .icons{
            background-color: var(--light-grey);
            right: 0%;

        }

    .players{


    }
        .int{
            width: 100%;
            height: 47%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0%;
        }
            .player{
                width: 23%;
                background: var(--light-grey);

                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                
            }

            .p1{
                background-color: var(--dark-grey);
            }

    .grid-size{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
        .size{
            width: 100%;
            height: 47%;
            display: flex;
            justify-content: space-between;
            /* position: absolute; */
            bottom: 0%;
        }
            .grid{
                width: 47%;
                border-radius: 50px;

                display: flex;
                justify-content: center;
                align-items: center;
            }
            .grid4{
                font-weight: bold;
                background-color:var(--dark-grey);
            }
            .grid6{
                font-weight: bold;
                background-color: var(--light-grey);

            }
    .begin{
        width: 100%;
        height:13%;
        border-radius: 100px;
        background-color: var(--yello) ;
        border-color: inherit;

        
    
    }
    

            /* for use in js */
.body{
    background-color: var(--white); 
}

.gameBoard{
    display: none;
}

.playing{
    position: absolute;
    /* width: 100vh; */
    width: 77vw;
    height: 90vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
    .head{
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    
        .headdiv{
            color: black;
        }
        .reset{
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }

        .restart{
            background-color:var(--yello);
            
        }

        .newGame{
            background-color: var(--light-grey);
            color: var(--dark-grey);
            
        }
        .restart, .newGame, .menu{
            border-radius: 50px;
            height: 100%;
            padding: 1% 10% ;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .menu{
            display: none;
        }

    .board{
        width: 56vh;
        height: 56vh;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .playerEl{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 14%;

    }
    .pl{
        width: 23%;
        height: 100%;



        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        
    }
    
    
    .pl1, .pl2, .pl3, .pl4, .time, .moveEl{
        width: 100%;
        height: 55%;
        background-color: var(--light-grey);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        border-radius: 10%;
    }
        .plScore{
            font-size: 32px;
        }

        .turn{
            visibility: hidden;
            font-size: 13px;
        }

        .currentPlayer{
            background-color: var(--yello) !important;
            color: var(--white);
        }
        .otherPlayer{
            background-color: var(--light-grey);
            
        }


.solo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    height:9%;

    /* background-color: aqua; */
}
.time, .moveEl{
    width: 40%;
    height: 100%;
}

.time.ex{
    margin: 1%;
}

.moves.ex{
    
}

/* .time:last-child, .moves:last-child{
    font-size: ;
} */

.gameOver{
    
}

.tile6{
    font-size: 2.75rem;
    width: 14.3%;
    height: 14.3%;
    border-radius: 50%;
    color: var(--white);
}
.tile4{
    font-size: 3.5rem;
    width: 23%;
    height: 23%;
    border-radius: 50%;
    
    color: var(--white);
}
.tile4, .tile6{
    background: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0.3%; */
    box-sizing: border-box;
}
.tile4:active, .tile6:active{
    background-color: var(--blue-grey);
    color: var(--blue-grey);
}

.startClick{
    background-color: var(--blue-grey);
}

.iconClick{
    background-color: var(--yello);
}
.lastPlay{
    background-color: var(--yello);
}


.blunt{
    background-color: var(--dark-grey);
    color: var(--dark-grey);
}

.markClick{  /*leave this class useful in js */
    
}
.span2{
    display: none;
}


.tip{
    visibility: hidden;
    width: 0px;
    height: 0;
    border-bottom: 15px solid var(--yello);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;

}

/* Game over */
body{
    /* background-color: aliceblue; */
}
/* .playerEl, .startEl, .head{display: none;}
.gameBoard{
    display: block;

} */

.gameOver{
    display: none; 
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(154, 151, 151, 0.418);
    

    /* display: flex; */
    justify-content: center;
    align-items: center;
}

    .multiplayerStat{
        
        width: 64vw;
        height: 67vh;
        background-color: var(--dark-white);
        border-radius: 20px;
        box-sizing: border-box;

        padding: 7% 5%;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
        .mainStat, .soloStat{
            width: 82%;
            height: 80%;
            
            display: flex;
            flex-direction: column;
            
            justify-content: space-evenly;
            color: var(--darker-grey);
        }
        .soloStat{
            /* display: none; */
            align-items: center;
            justify-content: space-around;
        }
            .ex{
                width: 100%;
                height: 21%;
                background-color: var(--light-grey);
                border-radius: 10px;

                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--darker-grey);
            }

            .anotherGame{
                width: 82%;
                height: 12%;
                display: flex;
                justify-content: space-between;                
            }
            .winner{
                background-color: var(--darker-grey);
                color: aliceblue;
            }

            .anotherGame .restart, .anotherGame .newGame{
                /* background-color: var(--light-grey); */
                padding: 2%;
                width: 49%;
                height: 100%;
                box-sizing: border-box;
            }

            .anotherGame .newGame{
                /* background-color: var(--yello); */
                padding: 2%;
                box-sizing: border-box;

            }
        .mult{
            width: 100%;
            height: 80%;
            
            flex-direction: column;
            align-items: center;
        }

        .comment{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: fit-content;
            height: 17%;
            color:var(--darker-grey);
            padding-bottom: 4%;
        }
        .comment p{
            display: block;
            color: var(--light-grey);
            margin: 0%;
            text-align: center;
        }
        .comment h1{
            margin: 0;
            display: block; 

        }

@media screen and (max-width: 768px){

    
    .startEl{
        width: 85vw;
        height: 67vh;
    }

    .playing{
        width: 90vw;
        height: 93vh;
    }

    .board{
        width: 75vw;
        height: 75vw;   
    }

    .multiplayerStat{
        width: 85vw;
        height: 67vh;
    }

    .p{
        display: flex;
        flex-direction: column;
    }
    

    .h1, h1{font-size: 40px;}
    .h2, h2 {font-size: 32px;}
    h3, .h3{
        font-size: 20px;
    }
    body{
        font-size: 20px;
    }
}

@media screen and (max-width: 375px){

    .tile4{font-size: 40px;}
    .tile6{font-size: 24px;}
    .h3, h3 {font-size: 16px;} 
    .h2, h2 {font-size: 20px;} 
    .h1, h1{font-size: 1.6rem;}
    html{
        font-size: 14px;
        
    }
    .startEl{
        width: 87.2vw;
        height: 71vh;
    }

    .playing{
        width: 92vw;
        height: 93vh;
    }

    .board{
        width: 87.2vw;
        height: 87.2vw;
    }

    .multiplayerStat{
        width: 87.2vw;
        height: 73vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* padding: 7% 5%; */
    }
        .mainStat, .soloStat{
            width: 85%;
            height: 85%;
        }
        .anotherGame{
            flex-direction: column;
            height: 23%;
            align-items: center;
            justify-content: space-between;
        }
            .anotherGame .restart, .anotherGame .newGame{
                width: 100%;
                height: 40%;
            }

        .comment{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 17%;
        }
        .mult{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .hail{
            margin: 0;
            padding: 0;
        } 
    .comment:last-child, .comment p{
        margin: 0;
        padding: 0;
    }

    .p, .time, .moveEl{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .turn{
        display:none;
    }
    
    .head{
        
        display: flex;
        justify-content: space-between;
        height: fit-content;
    }
        
    .reset{
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        display: none;
    }
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--yello);
        padding: 25px;
        color: var(--white);
        border: 0 solid;
        
    }

    
    .reset .newGame, .reset .restart{
        height: fit-content;
        width: 150px;
        padding: 0;
        margin: 1px 0;
    }
    .newGame{

    }
    .span2{
        display: inline;
    }
    .span1{
        display: none;
    }

    .playerEl{
        height: 25%;
    }

   
}

@media screen and (max-width: 595px) {
    .anotherGame{
        flex-direction: column;
        height: 23%;
        align-items: center;
        justify-content: space-between;
    }
    .anotherGame .restart, .anotherGame .newGame{
        width: 82%;
        height: 40%;
    }

    .tile4{font-size: 40px;}
    .tile6{font-size: 24px;}
    .h3, h3 {font-size: 16px;} 
    .h2, h2 {font-size: 20px;} 
    .h1, h1{font-size: 1.6rem;}
    html{
        font-size: 14px;
        
    }


}
